main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

section{
    width: 100%;
    height: 100%;
}

.partieGauche{
    background-color: #0b9a39;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partieGauche h1{
    font-size: 100px;
    font-weight: 700;
    font-family: 'Tilt Warp', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    line-height: 0.9;
    text-shadow: 6px 6px 0px black, 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
               2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}

.partieGauche h1 span{
    font-family: 'Tilt Warp', sans-serif;
    font-size: 100px;

}

.partieGauche h2{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    color: #b5fdcc;
}