*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 0 20px;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
}

ul li a:hover{
    /* animation le bouton se lève un peu */
    position: relative;
    color: #0b9a39;
}